[submodule "binning"]
	path = binning
	url = git@github.com:preraulab/binning.git
[submodule "conversion"]
	path = conversion
	url = git@github.com:preraulab/conversion.git
[submodule "data_processing"]
	path = data_processing
	url = git@github.com:preraulab/data_processing.git
[submodule "graphical"]
	path = graphical
	url = git@github.com:preraulab/graphical.git
[submodule "nanstats"]
	path = nanstats
	url = git@github.com:preraulab/nanstats.git
[submodule "workspace"]
	path = workspace
	url = git@github.com:preraulab/workspace.git
[submodule "fig_tools"]
	path = fig_tools
	url = git@github.com:preraulab/fig_tools.git
[submodule "CSSuicontrols"]
	path = CSSuicontrols
	url = git@github.com:preraulab/CSSuicontrols.git
[submodule "EDF_toolbox"]
	path = EDF_toolbox
	url = git@github.com:preraulab/EDF_toolbox.git
